<div class="create-account-box">
    <p>Neu bei DABubble?</p>
    <a href="">Konto erstellen</a>
</div>

<div class="login-container">
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <form #f="ngForm">
        <label class="label-input-field-gray-with-img " for="email">
            <img src="icons/mail.svg" alt="Bild vom E-Mail-Eingabefeld">

            <input id="email" [(ngModel)]="email" name="email" type="text" placeholder="beispielname@email.com" [disabled]="inProgress">
        </label>

        <label class="label-input-field-gray-with-img" for="password">
            <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
            <input id="password" [(ngModel)]="pwd" name="pwd" type="password" placeholder="Passwort" [disabled]="inProgress">
        </label>

        <p>Passwort vergessen?</p>

        <div class=" vector-text-box">
            <img src="icons/line.svg" alt="">
            <div class="p-box">
                <p>ODER</p>
            </div>


        </div>

        <button class="btn-google" [disabled]="inProgress">
            <img src="icons/google.svg" alt="">
            <p>Anmelden mit Google</p>
        </button>

        <div class="login-btns">
            <button class="btn-blue" (click)="signIn()" [disabled]="inProgress">{{ inProgress ? 'Anmelden...' : 'Anmelden' }}</button>
            <button class="btn-white" (click)="signInAsGuest()" [disabled]="inProgress">Gäste-Login</button>
        </div>
    </form>


</div>
<div class="links-to-legal-box">
    <a href="">Nutzungsbedingungen</a>
    <a href="">Datenschutzbestimmungen</a>
</div>