@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../public/assets/styles/btn-style.scss" as *;

:host {
    @include authCardHost();
}


.create-account-box {
    position: absolute;
    top: 55px;
    right: 55px;
    @include dFlexAllCenter($fld: column, $ai: flex-end, $jc: center, $g: 10px);
    @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $black);

    p {
        padding-right: 15px;
    }
}

.description-login {
    @include fontSizeWeightColor($si: $font-size-17-20, $we: 400, $co: $black);
}

.vector-text-box {
    position: relative;
    height: 35px;
    @include dFlexAllCenter();

    .p-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        width: fit-content;
        padding-inline: 12px;
    }
}

.login-btns {
    @include dFlexAllCenter($g: 30px);
}

.btn-forgot-password {
    @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $purple-2);
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 50px;

    &:hover {
        @include fontSizeWeightColor($si: $font-size-18, $we: 700, $co: $purple-2);
        background-color: $bg-color;
    }
}

.google-btn-box {
    width: 100%;
    position: relative;
}


.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}