@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../public/assets/styles/btn-style.scss" as *;

#g_id_signin>div {
    background-color: $bg-color !important;
    border: 1px solid $bg-color !important;
    border-radius: 50px !important;
    padding: 11px 32px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 60px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: $purple-1 !important;
    width: 100% !important;
    box-shadow: $box-shadow !important;
    min-width: 320px !important;
    max-width: 100% !important;
}

:host {
    @include dFlexAllCenter($fld: column, $ai: center, $jc: center);
    overflow-y: auto;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    max-width: $max-content-width-1920;
}

.create-account-box {
    position: absolute;
    top: 60px;
    right: 50px;
    @include dFlexAllCenter($fld: column, $ai: flex-end, $jc: center, $g: 10px);
    @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $black);

    button {
        @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $black);

    }
}

.login-container {
    background-color: $white;
    max-width: 610px;
    @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: 30px);
    text-align: center;
    position: relative;
    padding: 60px;
    border-radius: 30px;
    box-shadow: $box-shadow;
    overflow-y: auto;

    @media screen and (max-width: $breakpoint-700) {
        width: 100%;
        border-radius: 0;
    }

    h1 {
        @include fontSizeWeightColor($si: $font-size-32-46, $we: 700, $co: $purple-1);
    }

    p {
        @include fontSizeWeightColor($si: $font-size-17-20, $we: 400, $co: $black);

    }
}

form {
    @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: 30px);
    width: 100%;
}

.vector-text-box {
    position: relative;
    height: 35px;
    @include dFlexAllCenter();

    .p-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        width: fit-content;
        padding-inline: 12px;
    }
}

.login-btns {
    @include dFlexAllCenter($g: 30px);
}

.btn-forgot-password {
    @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $purple-2);
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 50px;

    &:hover {
        @include fontSizeWeightColor($si: $font-size-18, $we: 700, $co: $purple-2);
        background-color: $bg-color;


    }
}