@if (showAnimation$ | async) {
<div class="animation-overlay">
    <div class="animation-overlay-content">
        <div class="logo">
            <img src="img/logo/DABubble-logo.png" alt="DABubble Logo">
        </div>
        <div class="placeholder"></div>

        <div class="text">
            <h1>DABubble</h1>
        </div>
    </div>
</div>
}


<div class="create-account-box">
    <p>Neu bei DABubble?</p>
    <button class="btn-white-without-border" routerLink="/register">Konto erstellen</button>
</div>

<div class="login-container">
    <mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

    <h1>Anmeldung</h1>
    <p class="description-login">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <form #f="ngForm">
        <label class="label-input-field-gray-with-img" for="email">
            <img src="icons/mail.svg" alt="Bild vom E-Mail-Eingabefeld">
            <input id="email" [(ngModel)]="email" name="email" type="text" placeholder="beispielname@email.com"
                [disabled]="googleLoginInProgress" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required
                #emailField="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" />

            <ng-container
                *ngIf="emailField.errors?.['required'] && (emailField.touched || emailField.dirty) && emailField.value !== ''">
                <p class="error-message" @fadeInOut>
                    *Bitte geben Sie eine gültige E-Mail-Adresse ein
                </p>
            </ng-container>

            @if (emailField.errors?.['required'] && (emailField.touched || emailField.dirty) && emailField.value !==
            '') {
            <p class="error-message" @fadeInOut>
                *Bitte geben Sie eine gültige E-Mail-Adresse ein
            </p>
            }

            @if (emailField.errors?.['pattern'] && !emailField.errors?.['required'] && (emailField.touched ||
            emailField.dirty)) {
            <p class="error-message" @fadeInOut>
                *Diese E-Mail ist leider ungültig
            </p>
            }
        </label>

        <label class="label-input-field-gray-with-img" for="password">
            <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
            <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="password"
                [(ngModel)]="pwd" name="pwd" type="password" placeholder="Passwort" [disabled]="googleLoginInProgress"
                minlength="8" required #pwdField="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" />
            @if (pwdField.errors?.['required'] && (pwdField.touched || pwdField.dirty) && pwdField.value !==
            '') {
            <p class="error-message" @fadeInOut>
                *Bitte geben Sie ein Passwort ein
            </p>
            }
            @if (pwdField.errors?.['minlength'] && (pwdField.touched || pwdField.dirty)) {
            <p class="error-message" @fadeInOut>
                *Das Passwort muss mindestens 8 Zeichen lang sein
            </p>
            }
            @if (pwdField.errors?.['pattern'] && !pwdField.errors?.['minlength'] && (pwdField.touched ||
            pwdField.dirty)) {
            <p class="error-message" @fadeInOut>
                *Das Passwort muss Groß- und Kleinbuchstaben, eine Zahl und ein Sonderzeichen enthalten
            </p>
            }

            @if (
            errMsg === 'E-Mail und Passwort stimmen nicht überein.' &&
            pwdField.value !== '' &&
            emailField.valid &&
            pwdField.valid
            ) {
            <p class="error-message" @fadeInOut>
                *Es existiert kein Benutzer mit dieser E-Mail-Adresse
            </p>
            }
        </label>

        <button class="btn-forgot-password">Passwort vergessen?</button>

        <div class="vector-text-box">
            <img src="icons/line.svg" alt="">
            <div class="p-box">
                <p>ODER</p>
            </div>
        </div>

        <div class="google-btn-box">
            <button (click)="triggerGoogleSignIn()" class="btn-google" [disabled]="googleLoginInProgress">
                <img src="icons/google.svg" alt="Google icon" [class.spin]="googleLoginInProgress">
                @if (!googleLoginInProgress) {
                <span>Anmelden mit Google</span>
                }
                @if (googleLoginInProgress) {
                <span>Bitte warten...</span>
                }

            </button>
            @if (errMsg && errMsg !== 'E-Mail und Passwort stimmen nicht überein.') {
            <p class="error-message" @fadeInOut>{{ errMsg }}</p>
            }
        </div>

        <div class="login-btns">
            <button class="btn-blue" (click)="signIn()"
                [disabled]="!f.valid || inProgress || googleLoginInProgress || errMsg === 'E-Mail und Passwort stimmen nicht überein.'">
                {{ inProgress ? 'Anmelden...' : 'Anmelden' }}
            </button>
            <button class="btn-white" (click)="signInAsGuest()"
                [disabled]="inProgress || googleLoginInProgress">Gäste-Login</button>
        </div>

    </form>
</div>

<app-legal-btns></app-legal-btns>