<div class="choose-avatar-container">
    <ng-container *ngIf="userLocal() as user">
        <div class="hero-avatar-row">
            <div class="hero-icon-box">
                <app-profile-avatar [user]="user" [imgSize]="'clamp(120px, 12vw, 160px)'"
                    [showAddAvatar]="false"></app-profile-avatar>
            </div>
            <button #tooltip="matTooltip" matTooltip="Lade dein eigenes Bild" matTooltipPosition="below"
                class="hero-add-icon-btn" type="button" (click)="fileInput.click()" aria-label="Eigenes Bild hochladen">
                <img src="icons/camera.svg" alt="Eigenes Bild hochladen">
            </button>

            <input type="file" #fileInput accept="image/*" style="display: none" (change)="onFileSelected($event)" />
        </div>
        <h1>{{ user.displayName }}</h1>
        <div class="choose-avatar-text-box">
            <p>Aus der Liste wählen</p>
        </div>
        <div class="avatar-icons-box">
            <ng-container *ngFor="let avatar of avatarIconsArray; index as i">
                <div class="single-avatar-box">
                    <img [src]="avatar.src" [alt]="avatar.alt" (load)="onAvatarLoad(avatar)"
                        [class.loaded]="avatar.loaded" (click)="selectAvatar(avatar.src)">
                    <div class="avatar-placeholder" *ngIf="!avatar.loaded"></div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>