<div class="message-wrapper" [ngClass]="{'own-message': message?.isOwnMessage}">
  <div class="message-left">
    <app-profile-avatar [user]="messageUser()" [imgSize]="40">
    </app-profile-avatar>
  </div>

  <div class="message-content">
    <div class="message-header">
      <span class="username">{{ messageUser()?.displayName || message?.user || 'Anonymous' }}</span>
      <span class="timestamp">{{ formatTime(message?.timestamp) }}</span>
    </div>

    <div class="message-bubble-wrapper">
      <app-message-bubble
        [message]="message"
        [messageUser]="messageUser()"
        [isOwnMessage]="message?.isOwnMessage"
        (replyClicked)="onReplyClick()"
        (emojiPickerToggled)="onEmojiPickerToggle($event)">
      </app-message-bubble>

      <app-message-emoji-picker
        [isVisible]="viewEmojiPicker"
        [selectedEmoji]="selectedEmoji"
        (emojiSelected)="onEmojiSelected($event)"
        (pickerClosed)="onEmojiPickerClosed()">
      </app-message-emoji-picker>
    </div>

    <div class="message-footer">
      <app-message-thread-link
        [message]="message"
        [isThreadView]="isThreadView"
        (threadClicked)="onThreadClicked($event)">
      </app-message-thread-link>

      <app-message-reactions
        [reactions]="message?.reactions"
        (reactionClicked)="onReactionClicked($event)">
      </app-message-reactions>
    </div>
  </div>
</div>
