@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;

.message-wrapper {
  @include dFlexAllCenter($ai: flex-start, $jc: flex-start, $g: 12px);
  padding: 8px 16px;
  transition: $transition-0-3-ease-in-out;
  position: relative;
  margin: 0 -45px;

  &:hover {
    background-color: $bg-color;

    ::ng-deep .message-body {
      background-color: $white;
    }

    ::ng-deep .message-hover-actions {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &.own-message {
    flex-direction: row-reverse;

    .message-header {
      justify-content: flex-end;
    }

    ::ng-deep .message-hover-actions {
      left: 0;
      right: auto;
      transform: translateY(5px);
    }

    .message-content {
      align-items: flex-end;
      text-align: right;
    }

    ::ng-deep .message-body {
      background-color: $purple-2;
      color: $white;
      border-radius: 20px 0 20px 20px;
      margin-left: auto;
    }

    .message-bubble-wrapper {
      align-items: flex-start;
      margin-left: auto;
    }

    ::ng-deep emoji-mart {
      left: 0;
      right: auto;
    }
  }
}

.message-left {
  flex-shrink: 0;

  app-profile-avatar {
    display: block;
  }
}

.message-content {
  flex: 1;
  min-width: 0;
  position: relative;
}

.message-header {
  @include dFlexAllCenter($ai: center, $jc: flex-start, $g: 8px);
  margin-bottom: 4px;
}

.username {
  @include fontSizeWeightColor($si: $font-size-16, $we: 600, $co: $black);
}

.timestamp {
  @include fontSizeWeightColor($si: 12px, $we: 400, $co: $text-gray);
}

.message-bubble-wrapper {
  width: fit-content;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-footer {
  @include dFlexAllCenter($ai: flex-start, $jc: space-between);
  margin-top: 8px;
  width: 100%;
}

.message-wrapper.thread-view {
  ::ng-deep .message-body {
    max-width: 85%;
  }

  ::ng-deep .message-hover-actions {
    display: none;
  }
}

@media (max-width: 768px) {
  .message-wrapper {
    padding: 8px 20px;
    margin: 0 -12px;
    gap: 8px;
  }

  ::ng-deep .message-body {
    max-width: 85%;
    padding: 10px 12px;
  }

  .action-btn {
    padding: 4px 8px;

    .action-label {
      display: none;
    }
  }
}
