@use "../../public/assets/styles/fonts.scss" as *;
@use "../../public/assets/styles/mixins.scss" as *;
@use "../../public/assets/styles/variables.scss" as *;
@use "../../public/assets/styles/btn-style.scss" as *;

.app-container {
    height: 100dvh;
    max-width: $max-content-width-1920;
    margin: 0 auto;
    position: relative;
}

// .logo-text-box in style.scss

.app-content {
    // height: calc(100% - 150px);
    height: 100%;
}