@if (shouldShowAnimation$ | async) {
<div class="animation-overlay">
  <div class="overlay-box">
    <div class="animation-overlay-content">
      <div class="logo">
        <img (load)="onLogoLoad()" src="img/logo/DABubble-logo-animation.png" alt="DABubble Logo">
      </div>
      <div class="text">
        <h1>DABubble</h1>
      </div>
    </div>
  </div>
</div>
}

<div class="app-container">

  <div [ngClass]="{
      'logo-text-box-logged-in': isAuthenticated$ | async,
      'logo-text-box-logged-out': !(isAuthenticated$ | async),
      'visible': showLogoBox && !(isAuthenticated$ | async)
    }">
    <img [src]="logoSrc()" alt="Logo">
    @if (showBackArrow()) {
    <button class="back-arrow" (click)="onBackClick()" aria-label="Zurück zum Workspace">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    }
    <h1>{{ headerTitle() }}</h1>
  </div>

  <div class="header-right" *ngIf="isAuthenticated$ | async">
    <app-profile-menu></app-profile-menu>
  </div>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>