@if(!passwordResetSuccessful){
<app-auth-card>
    <div class="auth-card-container">
        <mat-progress-bar *ngIf="setNewPasswordInProgress" class="progress-bar" mode="indeterminate"></mat-progress-bar>

        <h1>Passwort <br> zurücksetzen</h1>

        <form #f="ngForm" (ngSubmit)="onSubmit(f, pwdField, confirmPwdInput)">
            @if(errMsg){
            <div class="error-message" style="bottom: -35px;" @fadeInOut>{{ errMsg }}</div>
            }
            <label class=" label-input-field-gray-with-img" for="setNewPassword">
                <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
                <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="password"
                    [(ngModel)]="newPassword" name="setNewPassword" [type]="showPwd ? 'text' : 'password'"
                    placeholder="Neues Passwort" minlength="8" required #pwdField="ngModel"
                    [ngModelOptions]="{ updateOn: 'blur' }" [class.input-error-border]="
                        (pwdField.invalid && (pwdField.touched || pwdField.dirty) && pwdField.value !== '') ||
                        (f.submitted && pwdField.value === '')" />
                <div class="visibility-btn" type="button" (click)="showPwd = !showPwd">
                    <mat-icon *ngIf="!showPwd">visibility_off</mat-icon>
                    <mat-icon *ngIf="showPwd">visibility</mat-icon>
                </div>
                <ng-container *ngIf="pwdField.errors?.['required'] && pwdField.touched && pwdField.value !== ''">
                    <p class="error-message" @fadeInOut>
                        *Bitte geben Sie ein Passwort ein
                    </p>
                </ng-container>
                <ng-container *ngIf="pwdField.errors?.['minlength'] && pwdField.touched">
                    <p class="error-message error-marquee" @fadeInOut>
                        <span> *Das Passwort muss mindestens 8 Zeichen lang sein</span>
                    </p>
                </ng-container>
                <ng-container
                    *ngIf="pwdField.errors?.['pattern'] && !pwdField.errors?.['minlength'] && pwdField.touched">
                    <div class="error-message error-marquee">
                        <span>*Das Passwort muss Groß- und Kleinbuchstaben, eine Zahl und ein Sonderzeichen
                            enthalten</span>
                    </div>
                </ng-container>

                <ng-container
                    *ngIf="(pwdField.errors?.['required'] && (pwdField.touched || pwdField.dirty) && pwdField.value !== '') || (f.submitted && pwdField.value === '')">
                    <p class="error-message error-marquee" @fadeInOut>
                        <span>*Bitte geben Sie ein Passwort ein</span>
                    </p>
                </ng-container>
            </label>

            <label class="label-input-field-gray-with-img" for="confirmNewPassword">
                <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
                <input id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword"
                    [type]="showConfirmPwd ? 'text' : 'password'" placeholder="Passwort bestätigen" required
                    #confirmPwdInput="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                    [class.input-error-border]="(f.submitted && confirmPwdInput.value === '') || (confirmNewPassword !== '' && confirmNewPassword !== newPassword && (confirmPwdInput.touched || f.submitted))" />
                <div class="visibility-btn" type="button" (click)="showConfirmPwd = !showConfirmPwd">
                    <mat-icon *ngIf="!showConfirmPwd">visibility_off</mat-icon>
                    <mat-icon *ngIf="showConfirmPwd">visibility</mat-icon>
                </div>

                <ng-container
                    *ngIf="newPassword !== confirmNewPassword && confirmNewPassword !== '' && confirmPwdInput.touched">
                    <p class="error-message error-marquee" @fadeInOut>
                        <span> *Die Passwörter stimmen nicht überein</span>
                    </p>
                </ng-container>
            </label>

            <div class="next-btn-box">
                <button [disabled]="setNewPasswordInProgress" class="btn-blue" type="submit">
                    Passwort ändern
                </button>
            </div>
        </form>
    </div>
</app-auth-card>
}

@if(passwordResetSuccessful){
<app-auth-card>
    <div class="auth-card-container">
        <h1>Passwort zurückgesetzt</h1>
        <p class="description-reset-password">
            Ihr Passwort wurde erfolgreich zurückgesetzt! Sie können sich jetzt anmelden.
        </p>

        <div class="next-btn-box">
            <button [routerLink]="['/login']" class="btn-blue">
                Zur Anmeldung
            </button>
        </div>
    </div>
</app-auth-card>
}