@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../public/assets/styles/btn-style.scss" as *;
@use "../../../../../public/assets/styles/profile.scss" as *;

.profile-badge-content {
    @include dFlexAllCenter($ai: center, $jc: flex-start, $g: 15px);
    @include fontSizeWeightColor($si: $font-size-18, $we: 400, $co: $black);
    padding: 4px 20px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
        background: $bg-color;
    }
}

.profile-avatar {    
    width: 50px;
    height: 50px;
}