<ng-container *ngIf="user() as user">
    <div (click)="onUserClick()" class="profile-badge-content" [class.active]="active">
        <app-profile-avatar [user]="user" [imgSize]="50"></app-profile-avatar>
        <span class="username">{{ user.displayName }} <span *ngIf="isSelf()">(Du)</span></span>
        <app-typing-indicator *ngIf="shouldShowTyping()" class="typing-indicator"></app-typing-indicator>
        <app-unread-indicator *ngIf="!shouldShowTyping()" [count]="unreadCount()" class="unread-indicator"></app-unread-indicator>
    </div>
</ng-container>