<app-auth-card>
    <div class="auth-card-container">
        <mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

        <button [disabled]="inProgress" class="btn-arrow-back" routerLink="/login">
            <svg viewBox="0 0 25 25" fill="" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.7412 19.8001L5.14121 13.2001C5.04121 13.1001 4.97021 12.9917 4.92821 12.8751C4.88688 12.7584 4.86621 12.6334 4.86621 12.5001C4.86621 12.3667 4.88688 12.2417 4.92821 12.1251C4.97021 12.0084 5.04121 11.9001 5.14121 11.8001L11.7412 5.20008C11.9245 5.01675 12.1535 4.92075 12.4282 4.91208C12.7035 4.90408 12.9412 5.00008 13.1412 5.20008C13.3412 5.38342 13.4455 5.61242 13.4542 5.88708C13.4622 6.16242 13.3662 6.40008 13.1662 6.60008L8.26621 11.5001H19.4412C19.7245 11.5001 19.9622 11.5957 20.1542 11.7871C20.3455 11.9791 20.4412 12.2167 20.4412 12.5001C20.4412 12.7834 20.3455 13.0207 20.1542 13.2121C19.9622 13.4041 19.7245 13.5001 19.4412 13.5001H8.26621L13.1662 18.4001C13.3495 18.5834 13.4455 18.8167 13.4542 19.1001C13.4622 19.3834 13.3662 19.6167 13.1662 19.8001C12.9829 20.0001 12.7495 20.1001 12.4662 20.1001C12.1829 20.1001 11.9412 20.0001 11.7412 19.8001Z"
                    fill="" />
            </svg>
        </button>

        <div class="h1-box">
            <h1>Konto erstellen</h1>
        </div>
        <p class="description-login">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.
        </p>

        <form #f="ngForm" (ngSubmit)="nextStep(f)">
            @if (infoMsg) {
            <div class="error-message" style="top: -24px" @fadeInOut [ngClass]="{'error-marquee': isMobile()}"><span>{{
                    infoMsg }}</span></div>
            }
            <label class="label-input-field-gray-with-img" for="fullName">
                <img src="icons/person_filled.svg" alt="Bild vom Namens-Eingabefeld">
                <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" placeholder="Name und Nachname"
                    maxlength="15" required pattern="[a-zA-ZäöüÄÖÜ]+\s[a-zA-ZäöüÄÖÜ]+" #fullNameField="ngModel"
                    [ngModelOptions]="{ updateOn: 'blur' }" (blur)="validateNameLength()"
                    [class.input-error-border]="fullNameField.invalid && (fullNameField.touched || fullNameField.dirty) && fullNameField.value !== ''" />

                @if (fullNameField.errors?.['required'] && (fullNameField.touched || fullNameField.dirty) &&
                fullNameField.value !== '') {
                <div class="error-message-long-text" @fadeInOut>
                    <span>*Das Passwort muss Groß- und Kleinbuchstaben, eine Zahl und ein Sonderzeichen
                        enthalten</span>
                </div>
                <p class="error-message" @fadeInOut>
                    *Der Name muss mindestens 4 Buchstaben enthalten.
                </p>
                } @else if (fullNameField.errors?.['pattern'] && (fullNameField.touched || fullNameField.dirty)&&
                fullNameField.value !== '') {
                <p class="error-message" @fadeInOut [ngClass]="{'error-marquee': isMobile()}">
                    <span>*Bitte geben Sie Vor- und Nachnamen an.</span>
                </p>
                }
            </label>

            <label class="label-input-field-gray-with-img" for="email">
                <img src="icons/mail.svg" alt="Bild vom E-Mail-Eingabefeld">
                <input id="email" [(ngModel)]="email" name="email" type="text" placeholder="beispielname@email.com"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required #emailField="ngModel"
                    [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="emailExists = false"
                    [class.input-error-border]="emailField.invalid && emailField.value !== '' || emailExists" />

                <ng-container
                    *ngIf="emailField.errors?.['required'] && (emailField.touched || emailField.dirty) && emailField.value !== ''">
                    <p class="error-message" @fadeInOut [ngClass]="{'error-marquee': isMobile()}">
                        <span>*Bitte geben Sie eine gültige E-Mail-Adresse ein</span>
                    </p>
                </ng-container>


                <ng-container *ngIf="emailExists && formSubmitted">
                    <p class="error-message" @fadeInOut>
                        *Diese E-Mail ist schon vorhanden
                    </p>
                </ng-container>

                @if (emailField.errors?.['required'] && (emailField.touched || emailField.dirty) && emailField.value
                !==
                '') {
                <p class="error-message" @fadeInOut [ngClass]="{'error-marquee': isMobile()}">
                    <span>*Bitte geben Sie eine gültige E-Mail-Adresse ein</span>
                </p>
                }

                @if (emailField.errors?.['pattern'] && !emailField.errors?.['required'] && (emailField.touched ||
                emailField.dirty)) {
                <p class="error-message" @fadeInOut>
                    *Diese E-Mail ist leider ungültig
                </p>
                }
            </label>

            <label class="label-input-field-gray-with-img" for="password">
                <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
                <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="password"
                    [(ngModel)]="pwd" name="pwd" [type]="showPwd ? 'text' : 'password'" placeholder="Passwort"
                    minlength="8" required #pwdField="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                    [class.input-error-border]="pwdField.invalid && (pwdField.touched || pwdField.dirty) && pwdField.value !== ''" />
                <div class="visibility-btn" type="button" (click)="showPwd = !showPwd">
                    <mat-icon *ngIf="!showPwd">visibility_off</mat-icon>
                    <mat-icon *ngIf="showPwd">visibility</mat-icon>

                </div>
                @if (pwdField.errors?.['required'] && (pwdField.touched || pwdField.dirty) && pwdField.value !== '')
                {
                <p class="error-message" @fadeInOut>
                    *Bitte geben Sie ein Passwort ein
                </p>
                }
                @if (pwdField.errors?.['minlength'] && (pwdField.touched || pwdField.dirty)) {
                <p class="error-message error-marquee" [ngClass]="{'error-marquee': isMobile()}" @fadeInOut>
                    <span>*Das Passwort muss mindestens 8 Zeichen lang sein</span>
                </p>
                }
                @if (pwdField.errors?.['pattern'] && !pwdField.errors?.['minlength'] && (pwdField.touched ||
                pwdField.dirty)) {
                <div class="error-message error-marquee" [ngClass]="{'error-marquee-long-text': isMobile()}">
                    <span>*Das Passwort muss Groß- und Kleinbuchstaben, eine Zahl und ein Sonderzeichen
                        enthalten</span>
                </div>
                }

                @if (
                errMsg === 'E-Mail und Passwort stimmen nicht überein.' &&
                pwdField.value !== '' &&
                emailField.valid &&
                pwdField.valid
                ) {
                <p class="error-message" @fadeInOut [ngClass]="{'error-marquee': isMobile()}">
                    <span>*Es existiert kein Benutzer mit dieser E-Mail-Adresse</span>
                </p>
                }
            </label>

            <label class="label-input-field-gray-with-img" for="confirmPassword">
                <img src="icons/lock.svg" alt="Bild vom Passwort-Eingabefeld">
                <input id="confirmPassword" [(ngModel)]="confirmPwd" name="confirmPwd"
                    [type]="showConfirmPwd ? 'text' : 'password'" placeholder="Passwort bestätigen" required
                    #confirmPwdField="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" [class.input-error-border]="
                        ((confirmPwdField.invalid && (confirmPwdField.touched || confirmPwdField.dirty) && confirmPwdField.value !== '')) ||
                        ((confirmPwdField.dirty || confirmPwdField.touched) && pwd !== confirmPwd && pwdField.value !== '' && confirmPwdField.value !== '')
                    " />
                <div class="visibility-btn" type="button" (click)="showConfirmPwd = !showConfirmPwd">
                    <mat-icon *ngIf="!showConfirmPwd">visibility_off</mat-icon>
                    <mat-icon *ngIf="showConfirmPwd">visibility</mat-icon>
                </div>

                @if (
                (confirmPwdField.dirty || confirmPwdField.touched) &&
                pwd !== confirmPwd &&
                pwdField.value !== '' &&
                confirmPwdField.value !== ''
                ) {
                <p class="error-message" @fadeInOut [ngClass]="{'error-marquee': isMobile()}">
                    <span>*Die Passwörter stimmen nicht überein</span>
                </p>
                }
            </label>


            <section (click)="toggleCheckbox()" class="checkbox-section" (mouseenter)="onMouseEnter()"
                (mouseleave)="onMouseLeave()">
                <img [src]="checked ? 'icons/checkbox-checked.svg' : (isHovered ? 'icons/checkbox-empty-hover.svg' : 'icons/checkbox-empty.svg')"
                    alt="Checkbox Icons">
                <span>Ich stimme der <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu</span>

                @if (!checked && f.valid && formSubmitted) {
                <p class="error-message">
                    *Bitte akzeptiere die Datenschutzerklärung
                </p>
                }
            </section>

            <div class="next-btn-box">
                <button type="submit" class="btn-blue"
                    [disabled]="!f.valid || inProgress || errMsg === 'E-Mail und Passwort stimmen nicht überein.' || !checked">
                    Weiter
                </button>
            </div>
        </form>
    </div>
</app-auth-card>