@use "../../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../../public/assets/styles/breakpoints.scss" as *;

.message-body {
  background-color: $bg-color;
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  word-wrap: break-word;
  transition: $transition-0-3-ease-in-out;
  position: relative;
  flex: 0 1 auto;
  min-width: 120px;
  max-width: 100%;
}

.message-text {
  margin: 0;
  line-height: 1.4;
  @include fontSizeWeightColor($si: $font-size-16, $we: 400, $co: $black);
}

:host-context(.own-message) .message-text {
  color: $white;
}