@use "./mixins.scss" as *;
@use "./variables.scss" as *;


@keyframes backgroundAnimation {
    0% {
        background-color: rgba(93, 99, 237, 1);
    }

    25% {
        background: rgba(93, 99, 237, 0.75);
    }

    50% {
        background: rgba(93, 99, 237, 0.5);
    }

    75% {
        background: rgba(93, 99, 237, 0.25);
    }

    100% {
        background: rgba(93, 99, 237, 0);
    }
}


@keyframes contentAnimation {
    0% {
        transform: translate(-24%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}


@keyframes removeBgColor {
    0% {
        background: rgba(93, 99, 237, 1);
    }

    100% {
        background: rgba(93, 99, 237, 0);
    }
}

@keyframes h1ColorAnimation {
    0% {
        color: $white;
    }

    25% {
        color: rgba(192, 192, 192, 1);
    }

    50% {
        color: rgba(128, 128, 128, 1);
    }

    75% {
        color: rgba(64, 64, 64, 1);
    }

    100% {
        color: $black;
    }
}


@keyframes textAnimation {
    0% {
        transform: translate(-105%, 0%);
        // width: clamp(124px, 83.0318px + 12.8025vw, 325px);

    }

    100% {
        // width: 124px;
        transform: translate(0%, 0%);

    }
}

@keyframes secondStepTextH1Animation {
    0% {
        // width: clamp(124px, 81.404px + 13.3113vw, 325px);
        width: clamp(103px, 55.9536px + 14.702vw, 325px);

    }

    100% {
        width: 103px;
    }
}

@keyframes overlayToLeftCornerAnimation {
    0% {
        width: clamp(203px, 104.6689px + 30.7285vw, 667px);
        height: clamp(71.5px, 47.447px + 7.5166vw, 185px);
        transform: translate(-50%, -50%);
        justify-content: center;
    }

    100% {
        left: 55px;
        top: 55px;
        width: 203px;
        height: clamp(56px, 52.7152px + 1.0265vw, 71.5px);
        justify-content: flex-start;
        transform: translate(0%, 0%);
    }
}


@keyframes overlayToMiddleAnimationMobile {
    0% {
        top: 50%;
        width: clamp(203px, 104.6689px + 30.7285vw, 667px);
        height: clamp(71.5px, 47.447px + 7.5166vw, 185px);
        transform: translate(-50%, -50%);
    }

    100% {
        top: 20px;
        width: 203px;
        height: clamp(56px, 52.7193px + 1.0252vw, 62.1px);
        transform: translate(-49%, 0%);
    }
}



@keyframes logoToLeftCornerAnimation {
    0% {
        width: clamp(71.5px, 47.447px + 7.5166vw, 185px);
        aspect-ratio: 1 / 1;
        // justify-content: flex-end;
    }

    100% {
        width: clamp(56px, 52.7152px + 1.0265vw, 71.5px);
        aspect-ratio: 1 / 1;
        // justify-content: flex-start;
    }
}

@keyframes textWidthAnimation {
    0% {
        width: clamp(124px, -77px + 21.9672vw, 325px);
    }

    100% {
        width: 124px;
    }
}

// @keyframes textBoxToleftCornerANimation {
//     0% {
//         width: clamp(96.27px, 45.2544px + 15.9424vw, 337px);
//     }

//     100% {
//         width: 96.27px;
//     }

// }

@keyframes h1ToLeftCornerAnimation {
    0% {
        // width: clamp(100px, 52.2863px + 14.9105vw, 325px);
        // width: clamp(124px, -77px + 21.9672vw, 325px);
        font-size: clamp(20px, 9.404px + 3.3113vw, 70px);
        position: absolute;
        top: 0;
        // left: 0;
    }

    100% {
        // width: unset;
        font-size: 20px;
        top: 50%;
        // left: 107px;
        transform: translateY(-50%);
    }
}

@keyframes textSlideIn {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0 0 0 0%);
    }
}