@use "./mixins.scss" as *;
@use "./variables.scss" as *;


@keyframes backgroundAnimation {
    0% {
        background-color: rgba(93, 99, 237, 1);
    }

    25% {
        background: rgba(93, 99, 237, 0.75);
    }

    50% {
        background: rgba(93, 99, 237, 0.5);
    }

    75% {
        background: rgba(93, 99, 237, 0.25);
    }

    100% {
        background: rgba(93, 99, 237, 0);
    }
}


@keyframes contentAnimation {
    0% {
        transform: translate(-25%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}


@keyframes removeBgColor {
    0% {
        background: rgba(93, 99, 237, 1);
    }

    100% {
        background: rgba(93, 99, 237, 0);
    }
}

@keyframes h1ColorAnimation {
    0% {
        color: $white;
    }

    25% {
        color: rgba(192, 192, 192, 1);
    }

    50% {
        color: rgba(128, 128, 128, 1);
    }

    75% {
        color: rgba(64, 64, 64, 1);
    }

    100% {
        color: $black;
    }
}


@keyframes textAnimation {
    0% {
        transform: translate(-105%, 0%);

    }

    100% {
        transform: translate(0%, 0%);

    }
}

@keyframes overlayToLeftCornerAnimation {
    0% {
        width: clamp(295px, -77.407px + 40.7002vw, 667px);
        height: clamp(76px, -33.1193px + 11.9256vw, 185px);
        transform: translate(-50%, -50%);
        justify-content: center;
    }

    100% {
        left: 55px;
        top: 55px;
        width: clamp(203px, 163.9573px + 4.267vw, 242px);
        height: clamp(61.76px, 52.0093px + 1.0656vw, 71.5px);
        justify-content: flex-end;
        transform: translate(0%, 0%);
    }
}

@keyframes overlayToLeftCornerAnimationMobile {
    0% {
        width: clamp(295px, -77.407px + 40.7002vw, 667px);
        height: clamp(76px, -33.1193px + 11.9256vw, 185px);
        transform: translate(-50%, -50%);
        justify-content: center;
    }

    100% {
        top: 0;
        left: 50%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(203px, 163.9573px + 4.267vw, 242px);
        height: clamp(61.76px, 52.0093px + 1.0656vw, 71.5px);
        transform: translate(-50%, 0%);
        justify-content: flex-end;

    }
}



@keyframes logoToLeftCornerAnimation {
    0% {
        width: $animation-width-71-190;
        aspect-ratio: 1 / 1;
        justify-content: flex-end;
    }

    100% {
        width: clamp(56px, 52.9px + 0.9688vw, 71.5px);
        aspect-ratio: 1 / 1;
        justify-content: flex-start;
    }
}

@keyframes h1ToLeftCornerAnimation {
    0% {
        font-size: clamp(26px, 17.2px + 2.75vw, 70px);
        position: absolute;
        top: 0;
        left: 0;
    }

    100% {
        font-size: $font-size-20-24;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes textSlideIn {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0 0 0 0%);
    }
}