@use "./mixins.scss" as *;
@use "./variables.scss" as *;


.btn-white {
    @include buttonStyle($btn-bg-color: $white,
        $hover-bg-color: $purple-3,
        $text-color: $purple-1,
        $border: $purple-1 );
}

.btn-white-without-border {
    @include buttonStyleWithoutBorder();

    &:disabled {
        cursor: not-allowed;
        background-color: $text-gray;
        color: $white;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid transparent;
            @include fontSizeWeightColor($si: 18px, $we: 400, $co: $white);

        }
    }
}

.btn-blue {
    @include buttonStyle();
}

.btn-blue-with-img {
    @include buttonStyle($btn-bg-color: $purple-1,
        $hover-bg-color: $purple-2,
        $text-color: $white,
        $border: unset,
        $gap: 10px);
}

.btn-google {
    @include btnGoogleStyle();
}

.btn-transparent {
    @include buttonStyle($btn-bg-color: unset,
        $hover-bg-color: $bg-color,
        $text-color: $black,
        $hover-text-color: $purple-3);
}

.btn-arrow-back {
    @include btn-back-close-style($top: clamp(10px, 3px + 2.1875vw, 45px),
        $left: 40px,
        $width-container: 40px,
        $width-svg: 24px);
}

.btn-close {
    @include btn-back-close-style();
}

.btn-add-user {
    @include btn-add-style();
}

.btn-add-plus {
    @include btn-back-close-style($width-container: 30px, $width-svg: 14px);
}

.btn-edit {
    @include btn-edit();
}

.btn-reaction {
    @include btn-reaction-style();
}

.btn-arrow-down {
    @include btn-chat-header-style($width-container: 40px, $width-svg: 30px);
}

.btn-person-add {
    @include btn-chat-header-style($width-container: 40px, $width-svg: 24px);
}

.btn-add-circle {
    @include btn-chat-header-style($width-container: 40px, $width-svg: 24px);
}

.visibility-btn {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: $text-gray;
    @include dFlexAllCenter();
}