@use "./mixins.scss" as *;
@use "./variables.scss" as *;

.label-input-field-white-img-right {
    display: flex;
    align-items: center;
    position: relative;

    input {
        @include inputFieldWhiteStyle();
        padding-left: 35px;
        padding-right: 15px;
    }

    svg,
    img {
        position: absolute;
        right: 35px;
    }
}


.label-input-field-white-img-left {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    input {
        @include inputFieldWhiteStyle();
        padding-left: 70px;
        padding-right: 15px;
    }

    svg,
    img {
        position: absolute;
        left: 35px;
    }
}


.label-input-field-white-without-img {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    input {
        @include inputFieldWhiteStyle();
        padding-left: 35px;
        padding-right: 15px;
    }
}


.label-input-field-gray-with-img {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    input {
        @include inputFieldGrayStyle($width: 100%);
        padding-right: 15px;
        padding-left: 70px;
    }

    svg,
    img {
        position: absolute;
        left: 35px;
    }
}


.label-input-field-gray-without-img {
    display: flex;
    align-items: center;
    position: relative;

    input {
        @include inputFieldGrayStyle();
        padding-right: 12px;
        padding-left: 35px;
    }
}

.label-input-field-white-without-img-border {
    display: flex;
    align-items: center;
    position: relative;

    input {
        @include inputFieldWhiteStyle();
        padding-left: 35px;
        padding-right: 15px;
        border: 1px solid $light-purple;
        cursor: pointer;

        &::placeholder {
            color: $text-gray;
        }

        &:hover {
            border: 1px solid $purple-2;
        }

        &:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            border: 1px solid $purple-2;
            // background-color: $white !important;
            -webkit-box-shadow: 0 0 0 30px $white inset !important;
        }
    }
}

.label-input-field-white-img-left-border {
    display: flex;
    align-items: center;
    position: relative;

    input {
        @include inputFieldWhiteStyle();
        padding-left: 70px;
        padding-right: 15px;
        border: 1px solid $light-purple;
        cursor: pointer;

        &::placeholder {
            color: $text-gray;
        }

        &:hover {
            border: 1px solid $purple-2;
        }

        &:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            border: 1px solid $purple-2;
            // background-color: $purple-2 ;
            -webkit-box-shadow: 0 0 0 30px $white inset !important;
        }
    }

    svg,
    img {
        position: absolute;
        left: 35px;
        width: 24px;
        aspect-ratio: 1 / 1;
    }
}