@use "./variables.scss" as *;


@mixin dFlexAllCenter($ai: center, $jc: center, $fld: unset, $g: 0) {
  display: flex;
  flex-direction: $fld;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
}

@mixin fontSizeWeightColor($si: 20px, $we: 400, $co: $text-gray) {
  font-size: $si;
  font-weight: $we;
  color: $co;
}

@mixin buttonStyle($btn-bg-color: $purple-1, $hover-bg-color: $purple-2, $text-color: $white, $border: none, $hover-text-color: $white, $gap: 0) {
  background-color: $btn-bg-color;
  border: 1px solid $border;
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  @include fontSizeWeightColor($si: 18px, $we: 400, $co: $text-color);
  transition: $transition-0-3-ease-in-out;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $text-gray;
    color: $white;

    &:hover {
      background-color: $text-gray;
      color: $white;
    }
  }
}

@mixin buttonStyleWithoutBorder() {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include fontSizeWeightColor($si: 18px, $we: 400, $co: $purple-2);
  transition: $transition-0-3-ease-in-out;

  &:hover {
    overflow: hidden;
    @include fontSizeWeightColor($si: 18px, $we: 700, $co: $purple-2);
    border: 1px solid $purple-2;
  }
}

@mixin btnGoogleStyle() {
  background-color: $bg-color;
  border: 1px solid $bg-color;
  border-radius: 50px;
  padding: 11px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  @include fontSizeWeightColor($si: 18px, $we: 400, $co: $purple-1);
  width: 100%;
  height: 60px;

  p {
    transition: $transition-0-3-ease-in-out;
  }


  img {
    margin-right: 10px;
  }

  &:hover {
    border: 1px solid $purple-1;


    img,
    p {
      font-weight: 700;
    }
  }
}

@mixin inputFieldGrayStyle($btn-bg-color: $bg-color, $border-color: $btn-bg-color, $placeholder-color: $text-gray, $padding: 13px 40px, $width: $input-field-width-300-500) {
  background-color: $btn-bg-color;
  border: 1px solid $border-color;
  border-radius: 50px;
  padding: $padding;
  font-size: $font-size-18;
  color: $black;
  width: $width;
  height: clamp(50px, 48px + 0.625vw, 60px);
  transition: $transition-0-3-ease-in-out;

  &::placeholder {
    color: $placeholder-color;
    font-size: $font-size-18;
  }

  &:hover {
    border: 1px solid $text-gray;
  }

  &:focus {
    outline: none;
    border: 1px solid $purple-1;
  }

  &:focus:hover {
    border: 1px solid $purple-1;
  }
}

@mixin inputFieldWhiteStyle() {
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 13px 40px;
  font-size: $font-size-18;
  color: $black;
  width: 100%;
  height: clamp(50px, 48px + 0.625vw, 60px);
  ;

  &::placeholder {
    color: $text-gray;
    font-size: $font-size-18;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

@mixin btn-back-close-style($top: 0px, $left: 0px, $width-container: 40px, $width-svg: 24px) {
  background-color: transparent;
  position: absolute;
  top: $top;
  left: $left;
  width: $width-container;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;

  svg {
    fill: $black;
    width: $width-svg;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    &:hover {
      fill: $purple-1;
    }
  }

  &:hover {
    background-color: $bg-color;
  }
}

@mixin btn-edit($top: 0px, $left: 0px) {
  background-color: transparent;
  position: absolute;
  top: $top;
  left: $left;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;


  svg {
    transform: translateY(-3px);
    fill: $black;
    width: 24px;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    &:hover {
      fill: $purple-1;
    }
  }

  &:hover {
    background-color: $bg-color;
  }
}

@mixin btn-add-style($top: 0px, $left: 0px) {
  background-color: transparent;
  position: absolute;
  top: $top;
  left: $left;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;

  svg {
    fill: $black;
    width: 24px;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    &:hover {
      fill: $purple-1;
      scale: 1.05;
    }
  }

  &:hover {
    background-color: $bg-color;
  }
}

@mixin btn-reaction-style($top: 0px, $left: 0px) {
  background-color: transparent;
  position: absolute;
  top: $top;
  left: $left;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;

  svg {
    fill: $black;
    width: 24px;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    &:hover {
      fill: $purple-1;
      scale: 1.05;
    }
  }
}

@mixin btn-chat-header-style($width-container: 40px, $width-svg: 24px) {
  background-color: transparent;
  position: relative;
  width: $width-container;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;

  svg {
    fill: $black;
    width: $width-svg;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    path {
      fill: $black;
      transition: $transition-0-3-ease-in-out;
    }
  }

  &:hover {
    background-color: $bg-color;
    
    svg path {
      fill: $purple-1;
    }
  }
}

@mixin btn-add-circle-style($top: 0px, $left: 0px, $width-container: 40px, $width-svg: 24px) {
  background-color: transparent;
  position: absolute;
  top: $top;
  left: $left;
  width: $width-container;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  @include dFlexAllCenter();
  transition: $transition-0-3-ease-in-out;

  svg {
    fill: $black;
    width: $width-svg;
    aspect-ratio: 1 / 1;
    transition: $transition-0-3-ease-in-out;

    &:hover {
      fill: $purple-1;
      scale: 1.05;
    }
  }

  &:hover {
    background-color: $bg-color;
  }
}

@mixin profile-state($border-color: $white, $bg-color: $green) {
  border-radius: 100%;
  border: solid 2px $border-color;
  background-color: $bg-color;
  width: 16px;
  height: 16px;
}