 @use "./mixins.scss" as *;
 @use "./variables.scss" as *;
 @use "./btn-style.scss" as *;


 @mixin styleLegal() {
     :host {
         @include dFlexAllCenter();
         overflow-y: auto;
     }

     .content {
         background-color: $white;
         max-width: 700px;
         margin-inline: auto;
         @include dFlexAllCenter($fld: column, $ai: center);
         text-align: center;
         position: relative;
         padding: 40px;
         margin-bottom: 100px;
         border-radius: 30px;
         box-shadow: $box-shadow;

         @media screen and (max-width: 700px) {
             width: 100%;
             border-radius: 0;
         }

         a {
             color: $green;

             &:hover {
                 text-decoration: underline;
             }
         }


         h1 {
             padding-top: clamp(0px, 27.6316px + -3.9474vw, 15px);
             @include fontSizeWeightColor($font-size-26-46, $we: 700, $co: $purple-1);
         }

         h2 {
             @include fontSizeWeightColor($si: $font-size-24-32, $we: 600, $co: $purple-1);
         }

         h3 {
             @include fontSizeWeightColor($si: $font-size-20-24, $we: 500, $co: $purple-1);
         }

         p {
             @include fontSizeWeightColor($font-size-17-20, $we: 400, $co: $black);
         }

         li {
             @include fontSizeWeightColor($font-size-17-20, $we: 400, $co: $black);
         }

         span {
             @include fontSizeWeightColor($font-size-26-32, $we: 700, $co: $purple-1);
         }

         ul,
         ol {
             list-style: none;
         }
     }


 }