@use "./mixins.scss" as *;
@use "./variables.scss" as *;

.profile-state-online {
    @include profile-state($border-color: $bg-color, $bg-color: $green);
}

.profile-state-offline {
    @include profile-state($border-color: $bg-color, $bg-color: $text-gray);
}

.profile-state-away {
    @include profile-state($border-color: $bg-color, $bg-color: $orange);
}

.profile-state-online-white-bg {
    @include profile-state($border-color: $white, $bg-color: $green);
}

.profile-state-offline-white-bg {
    @include profile-state($border-color: $white, $bg-color: $text-gray);
}

.profile-state-away-white-bg {
    @include profile-state($border-color: $white, $bg-color: $orange);
}

.profile-avatar {
    @include dFlexAllCenter($ai: center, $jc: center);
    position: relative;
    width: 70px;
    height: 70px;

    img {
        position: absolute;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-state-online,
    .profile-state-online-white-bg,
    .profile-state-offline,
    .profile-state-offline-white-bg,
    .profile-state-away,
    .profile-state-away-white-bg {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .add-avatar {
        @include dFlexAllCenter($ai: center, $jc: center);
        width: 100%;
        height: 100%;
        background-color: rgb(0.2, 0.2, 0.2, 0.2);
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        transition: $transition-0-3-ease-in-out;

        img {
            width: 50%;
            height: 50%;
        }
    }

    &:hover .add-avatar {
        opacity: 1;
    }
}

.loaded-data-span {
    @include fontSizeWeightColor($si: 18px, $we: 600, $co: $black);
}