@use "/public/assets/styles/mixins.scss" as *;

//colors
$white: white;
$light-gray:#ECEEFE;
$light-purple:#ADB0D9;
$black:black;
$text-gray:#686868;
$purple-1: #444DF2;
$purple-2: #797EF3;
$purple-3: #535AF1;
$green: #92C83E;
$rosa: #ED1E79;

//font-sizes


