//colors
$white: white;
$bg-color: #ECEEFE;
$light-purple: #ADB0D9;
$black: black;
$text-gray: #686868;
$purple-1: #444DF2;
$purple-2: #797EF3;
$purple-3: #535AF1;
$green: #92C83E;
$rosa: #ED1E79;

//font-sizes
$font-size-16: 16px; // this is for font size 14px in figma
$font-size-18: 18px;
$font-size-17-20: clamp(17px, 16.4px + 0.1875vw, 20px); // for p and li privacy policy imprint
$font-size-20: 20px;
$font-size-20-24: clamp(20px, 19.2px + 0.25vw, 24px);
$font-size-16-24: clamp(16px, 14.4px + 0.5vw, 24px);
// placeholder input-field
$font-size-18-24: clamp(18px, 16.8px + 0.375vw, 24px);
$font-size-20-24: clamp(20px, 19.2px + 0.25vw, 24px); // for h3 in imprint and privacy policy
$font-size-24: 24px;
$font-size-24-32: clamp(24px, 22.4px + 0.5vw, 32px);
$font-size-26-32: clamp(26px, 24.8px + 0.375vw, 32px); // for span in imprint and privacy policy
$font-size-32: 32px;
$font-size-22-36: clamp(22px, 19.2px + 0.875vw, 36px); // for Account created successfully! / Email sent / Register
$font-size-32-46: clamp(32px, 29.2px + 0.875vw, 46px); //h1 complete log in
$font-size-26-46: clamp(26px, 22px + 1.25vw, 46px); //h1 privacy policy imprint


//width
$input-field-width-300-500: clamp(300px, 260px + 12.5vw, 500px);
$input-field-width-300-400: clamp(300px, 280px + 6.25vw, 400px);


//max content width
$max-content-width: 1920px;

//transition
$transition-0-3-ease-in-out: all 0.3s ease-in-out;

//shadow
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // 