//colors
$white: white;
$bg-color: #ECEEFE;
$light-purple: #ADB0D9;
$black: black;
$text-gray: #686868;
$purple-1: #444DF2;
$purple-2: #797EF3;
$purple-3: #535AF1;
$green: #92C83E;
$rosa: #ED1E79;
$blue: #1381FF;
$menu-color: #42526E;
$bg-animation-logo: linear-gradient(#797EF3, #313BE5);
$bg-dlg-close: #D9D9D9;


//font-sizes
$font-size-16: 16px; // this is for font size 14px in figma
$font-size-18: 18px;
$font-size-17-20: clamp(17px, 16.4px + 0.1875vw, 20px);
$font-size-18-20: clamp(18px, 17.6px + 0.125vw, 20px); // for p and li privacy policy imprint
$font-size-20: 20px;
$font-size-20-24: clamp(20px, 19.2px + 0.25vw, 24px);
$font-size-16-24: clamp(16px, 14.4px + 0.5vw, 24px); // placeholder input-field
$font-size-18-24: clamp(18px, 16.8px + 0.375vw, 24px);
$font-size-20-24: clamp(20px, 19.2px + 0.25vw, 24px); // for h3 in imprint and privacy policy
$font-size-24: 24px;
$font-size-24-32: clamp(24px, 22.4px + 0.5vw, 32px);
$font-size-26-32: clamp(26px, 24.8px + 0.375vw, 32px); // for span in imprint and privacy policy
$font-size-32: 32px;
$font-size-22-36: clamp(22px, 19.2px + 0.875vw, 36px); // for Account created successfully! / Email sent / Register
$font-size-32-46: clamp(32px, 29.2px + 0.875vw, 46px); //h1 complete log in
$font-size-26-46: clamp(26px, 22px + 1.25vw, 46px);
$font-size-48: 48px;


//width
$input-field-width-300-500: clamp(300px, 260px + 12.5vw, 500px);
$input-field-width-300-400: clamp(300px, 280px + 6.25vw, 400px);
$input-field-width-18-24: clamp(18px, 16.8px + 0.375vw, 24px);
$animation-width-71-190: clamp(71.5px, 47.8px + 7.4063vw, 190px);

//max content width
$max-content-width-1920: 1920px;

//height
$header-height-115: 115px;

//padding
$padding-20-30: clamp(20px, 18px + 0.625vw, 30px);

//transition
$transition-0-3-ease-in-out: all 0.3s ease-in-out;

//animation
$animation-login-overlay-logo: 0.75s ease forwards 1s;
$animation-login-overlay-text: 0.5s ease forwards 1.5s;
$animation-login-overlay: 0.9s ease forwards 1s;
$second-step-animation: 0.9s ease forwards 2s;
$backgroundAnimation :0.8s ease forwards 3.4s;
$overlayToLeftCornerAnimation: 0.75s ease forwards 3s;
$removeBgColor: 0.01s ease forwards 2s;
$h1ColorAnimation: 0.7s ease forwards 2.9s;

//shadow
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

//breakpoints responsiv width
$breakpoint-915: 915px;
$breakpoint-800: 800px;
$breakpoint-700: 700px;
$breakpoint-450: 450px;

//breakpoints responsiv height
$breakpoint-height-850: 850px;