@use "../../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../../public/assets/styles/btn-style.scss" as *;

:host {
    position: relative;
    max-width: 610px;
    width: clamp(300px, 238px + 19.375vw, 610px);
    margin-bottom: 30px;
}

.auth-card-container {
    background-color: $white;
    @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: clamp(18px, 15.6px + 0.75vw, 30px));
    text-align: center;
    padding: clamp(16px, 7.2px + 2.75vw, 60px);
    border-radius: 30px;
    box-shadow: $box-shadow;
    position: relative;

    h1 {
        @include fontSizeWeightColor($si: $font-size-32-46, $we: 700, $co: $purple-1);
    }

    form {
        @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: clamp(25px, 24px + 0.3125vw, 30px));
        width: 100%;
        position: relative;
    }
}