@use "../public/assets/styles/fonts.scss" as *;
@use "../public/assets/styles/mixins.scss" as *;
@use "../public/assets/styles/variables.scss" as *;
@use "../public/assets/styles/btn-style.scss" as *;
@use "../public/assets/styles/input-field.scss" as *;


// html {
//   scrollbar-gutter: stable;
// }

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: unset;
}

button {
  border: unset;
  cursor: pointer;
}

input {
  caret-color: $purple-1;
  text-shadow: 0 0 0 $purple-1;
}

.auth-card-container {
  background-color: $white;
  max-width: 610px;
  @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: 30px);
  text-align: center;
  padding: 60px;
  border-radius: 30px;
  box-shadow: $box-shadow;
  position: relative;

  @media screen and (max-width: $breakpoint-700) {
    width: 100%;
    border-radius: 0;
  }

  h1 {
    @include fontSizeWeightColor($si: $font-size-32-46, $we: 700, $co: $purple-1);
  }

  form {
    @include dFlexAllCenter($fld: column, $ai: center, $jc: center, $g: 30px);
    width: 100%;
  }
}


.error-message {
  position: absolute;
  bottom: -22px;
  left: 0px;
  @include fontSizeWeightColor($si: $font-size-16, $we: 600, $co: $rosa);
  transition: $transition-0-3-ease-in-out;
  min-height: 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  input {
    border: 1px solid $rosa;
  }
}

.input-error-border {
  border: 1px solid $rosa !important;
  transition: $transition-0-3-ease-in-out;
}

.account-created-successfully {
  @include accountCreatedSuccessfully;
  position: absolute;
  bottom: 45px;
  right: 45px;
  transform: translateX(115%);
}

.error-marquee {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  min-height: 20px;
  @include fontSizeWeightColor($si: $font-size-16, $we: 600, $co: $rosa);


  span {
    display: inline-block;
    padding-left: 50%;
    animation: marquee-bounce 3s linear infinite alternate;
  }
}

@keyframes marquee-bounce {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $purple-2;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.no-top-right-radius-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-top-right-radius: 0 !important;
}