@use "../public/assets/styles/fonts.scss" as *;
@use "../public/assets/styles/mixins.scss" as *;
@use "../public/assets/styles/variables.scss" as *;


html {
  scrollbar-gutter: stable;
  background-color: $bg-color;
}

body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: unset;
}

button {
  border: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: $purple-1;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-1;
}

::-webkit-scrollbar-track {
  background-color: $purple-1;
}
