<div class="new-message-container">
  <!-- Header with recipient input inside -->
  <div class="new-message-header">
    <h2>Neue Nachricht</h2>
    
    <!-- Moved recipient input into header -->
    <div class="recipient-input-container">
      <input
        #recipientInput
        id="recipientInput"
        type="text"
        class="recipient-input"
        placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
        autocomplete="off"
        (input)="onSearchInput($event)"
      />

      <!-- Dropdown Results -->
      <div *ngIf="(filteredResults$ | async) as results" class="recipient-dropdown">
        <ng-container *ngIf="results.length > 0">
          <ul class="recipient-list">
            <li *ngFor="let item of results" class="recipient-option">
              <app-profile-badge 
                *ngIf="item._type === 'user'" 
                [user]="item" 
                (click)="onUserClick(item)"
                [openProfileDetailsOnClick]="false"
              />
              
              <app-channel-badge 
                *ngIf="item._type === 'channel'" 
                [channel]="item"
                (click)="onChannelClick(item)"
              />
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Empty Content Area -->
  <div class="message-content">
    <!-- Leer - wird später gefüllt wenn User ausgewählt -->
  </div>

  <!-- Message input at bottom with border-top like chat-area -->
  <div class="message-input-wrapper">
    <app-message-input 
      placeholder="Starte eine neue Nachricht"
      [isDM]="true"
    />
  </div>
</div>
