@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../public/assets/styles/btn-style.scss" as *;

:host {
    @include authCardHost();
}

.progress-bar {
    position: absolute;
    top: 0;
    width: 90%;
}