@use "../../../../../public/assets/styles/mixins.scss" as *;
@use "../../../../../public/assets/styles/variables.scss" as *;
@use "../../../../../public/assets/styles/btn-style.scss" as *;

:host {
    @include authCardHost();
}

.progress-bar {
    position: absolute;
    top: 0;
    width: 90%;
}

.account-created-successfully {
    @include accountCreatedSuccessfully;
    position: absolute;
    bottom: 45px;
    right: 45px;
    transform: translateX(115%);
    animation: fadeInSuccessfully 0.5s ease forwards;
    opacity: 0;
}

@keyframes fadeInSuccessfully {
    0% {
        transform: translateX(115%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.button-box {
    width: 100%;
    @include dFlexAllCenter($jc: flex-end);

}